body {
    background-color: burlywood;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.15);
}

.brand-logo {
    width: 180px;
    height: 100px;
}

.collapse a {
    background-image: linear-gradient(to right, #755e49, #755e49 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.collapse a:before {
    content: "";
    background: #755e49;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.collapse a:hover {
    background-position: 0;
}

.collapse a:hover::before {
    width: 100%;
}

.animated-text {
    animation: moveText 2s ease infinite alternate; /* Name of animation, duration, timing function, iteration count, direction */
}

@keyframes moveText {
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-10px); /* Move 10 pixels to the left */
    }
    100% {
        transform: translateY(10px); /* Move 10 pixels to the right */
    }
}

#par1,
#par2,
#par3,
#par4 {
    width: 100vw;
    height: min-content;
    object-fit: cover;
}

#par2 {
    margin-left: 3%;
}

#title {
    font-size: 4em;
    filter: drop-shadow(2px 2px 2px black);
    -webkit-text-stroke: #deb887 1px;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/OFFERS_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.second {
    position: relative;
    background-color: burlywood;
}

.card {
    height: 30rem;
    transition: ease-in-out 0.7s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card img {
    height: 12rem;
    transition: 0.3s ease-in-out;
}

.frame {
    display: block;
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.15);
}

.card:hover {
    transform:rotate3d(0, 1, 1, 10deg);
    transition: ease-in-out 0.7s;
}

@media only screen and (max-width: 1215px) {
    #par1,
    #par2,
    #par3,
    #par4 {
        visibility: hidden;
    }
    #title {
        text-align: center;
    }
}

footer img {
    width: 30%;
    height: 30%;
}